@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent7: #f5f5f6;
    --accentCodeBox: #f5f5f6;
    --accentCode: #4e4a4f;
    --accent2: #756e77;
    --accent3: #37323e;
    --accent4: #303030;
    --baseFour: #ffffff;
    --baseTwo: #71717A;
    --accent1: #f4f4f4;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent7: #18181b;
      --accentCodeBox: #18181b;
      --accentCode: #e0cef9;
      --accent2: #b8b7b7;
      --accent3: #dedede;
      --accent4: #e6e6e6;
      --baseFour: #000000;
      --baseTwo: #150101;
      --accent1: #181818;
    }
  }

  :root[data-theme='dark'] {
    --accent7: #18181b;
    --accentCodeBox: #18181b;    
    --accentCode: #e0cef9;    
    --accent2: #b8b7b7;
    --accent3: #dedede;
    --accent4: #e6e6e6;
    --baseFour: #000000;
    --baseTwo: #150101;
    --accent1: #181818;
  }

  :root[data-theme='light'] {
    --accent7: #f5f5f6;
    --accentCodeBox: #f5f5f6;
    --accentCode: #4e4a4f;
    --accent2: #756e77;
    --accent3: #37323e;
    --accent4: #303030;
    --baseFour: #ffffff;
    --baseTwo: #71717A;
    --accent1: #f4f4f4;
  }

  html {
    @apply bg-baseFour text-accent-2 transition-all duration-150;
  }

  body {
    @apply max-w-[1920px] mx-auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
  }
  input { all: unset; background: var(--baseFour);}
  code { background: var(--accent1); padding:2px 5px 2px 5px; border-radius: 5px; }
}