@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accentCodeBox: rgb(245, 245, 246);
    --accentCode: hsl(288, 3%, 30%);
    --accent2: hsl(287, 4%, 45%);
    --accent3: hsl(265, 11%, 22%);
    --accent4: hsl(0, 0%, 19%);
    --baseFour: hsl(0, 0%, 100%);
    --baseTwo: #71717A;
    --accent1: #f4f4f4;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accentCodeBox: rgb(24 24 27);
      --accentCode: hsl(0, 3%, 71%);
      --accent2: hsl(0, 1%, 72%);
      --accent3: hsl(0, 0%, 87%);
      --accent4: hsl(0, 0%, 90%);
      --baseFour: hsl(0, 0%, 0%);
      --baseTwo: #150101;
      --accent1: #181818;
    }
  }

  :root[data-theme='dark'] {
    --accentCodeBox: rgb(24 24 27);    
    --accentCode: hsl(0, 3%, 71%);    
    --accent2: hsl(0, 1%, 72%);
    --accent3: hsl(0, 0%, 87%);
    --accent4: hsl(0, 0%, 90%);
    --baseFour: hsl(0, 0%, 0%);
    --baseTwo: #150101;
    --accent1: #181818;
  }

  :root[data-theme='light'] {
    --accentCodeBox: rgb(245, 245, 246);
    --accentCode: hsl(288, 3%, 30%);
    --accent2: hsl(287, 4%, 45%);
    --accent3: hsl(265, 11%, 22%);
    --accent4: hsl(0, 0%, 19%);
    --baseFour: hsl(0, 0%, 100%);
    --baseTwo: #71717A;
    --accent1: #f4f4f4;
  }

  html {
    @apply bg-baseFour text-accent-2 transition-all duration-150;
  }

  body {
    @apply max-w-[1920px] mx-auto;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
  }
}